menu "espScope Configuration"
    config LED_BUILTIN
        int "LED IO Pin"
        default 15
        help
            LED IO pin

    config BSP_CONFIG_GPIO
        int "Factory Reset Pin (GPIO)"
        default 9
        help
            GPIO pin number to hold low on boot to erase NVS (Factory Reset).
            Default is 9 (BOOT button on Seeed XIAO ESP32C6).

endmenu
